<section id="about" class="section">
  <h2>Sobre a Danisoft Web</h2>
  <p>
    A Danisoft Web nasceu com o propósito de ajudar empresas a crescerem no ambiente digital.
    Nossa missão é oferecer soluções modernas e acessíveis em desenvolvimento de sites,
    sistemas web e consultoria tecnológica, sempre com foco em inovação e resultados.
  </p>
  <p>
    Com uma equipe apaixonada por tecnologia, buscamos transformar ideias em projetos
    digitais de sucesso, garantindo qualidade, segurança e suporte contínuo. Sabe qual o melhor disso tudo? 
    Tudo com a cara do seu negócio e da forma que você aprovar, pois nós também aceitamos ideias novas além de nossos modelos já disponíveis
    Não Perde tempoe e consulta nossos valores sem compromisso.
  </p>
</section>
